.img-reservia{
    max-width: 100px;
    display: block;
    margin: 3rem;
}
.nav-list {
    list-style-type: none;
    text-align: right;
    
}
.nav-list li {
    display: inline-block;
    font-family: "Raleway" ,sans-serif;
    position: relative;
    bottom: 9rem;
    
}
li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    
}
.nav-list li a:hover{
    background-color: #007fff;
}
section{
    margin: 3rem;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}
.container-nav{
    height: 30px;
}
.icone {
    border-radius: 1rem 0 0 1rem;
    background: #f2f2f2;
}
.search-bar {
  max-width: 35rem;
  display: flex;
  margin: 3rem 0;
  }
::placeholder{
    color: black;
    font-weight: 600;
}
form input{
    border: none;
    height: 3rem;
}
