* {
    padding: 0;
    box-sizing: border-box;
}


.img-reservia{
    max-width: 100px;
    display: block;
    margin: 3rem;
}
.nav-list {
    text-align: right;
    
}
.nav-list li {
    display: inline-block;
    position: relative;
    bottom: 9rem;
    
}
li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
    
}
.nav-list li a:hover{
    background-color:#DEEBFF;
}
section{
    margin: 3rem;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;

}
html{
    padding: 0%;
    margin: 0%;
}
.container-nav{
    height: 30px;
}
.icone-left {
    border-radius: 1rem 0 0 1rem;
    background: #f2f2f2;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
  display: flex;
  margin: 1rem 0;
  }
.search-p{
    margin-top: 10px;
}
::placeholder{
    color: black;
    font-weight: 600;
}
form input {
    border: none;
    height: 2.5rem;
}


form > button {
    text-decoration: none;
    color: white;
    background-color: #0065FC;
    font-weight: 600;
    
}
.button-search{
    height: 2.5rem;
    border-style: none;
    border-radius: 0 7px 7px 0;
    width: 100px;
}

.active-link1{
    border-top: solid #0065FC;
    

}
.register a{
    font-weight: 800;
    color: #0065FC;
}
.container-nav{
    height: 1.6rem;
}
.filter-container{
    display: flex;
    
}

.filter-title {
    padding-right: 20px;
    padding-top: 15px;

}
.filter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 0 2rem 2rem 0;
    border-color: #e0e0e0;
    padding: 3px 3px;
    height: 38px;
    margin: 20px;
    font-weight: 700;
    white-space: nowrap;

    
}
.filter-button i{
    border-radius: 2.6rem ;
    background: #deebff;
    position: relative;
    right: 1rem;
    height: 2.6rem;
    width: 2.6rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #0065FC;
   
}
.filter-button a{
    text-decoration: none;
    color: black;
}
.filter-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filter-text p{
    position: relative;
    left: 10px;
}
.filter-text i{
    border-style: none;
    width: 1rem;
    height: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2.rem;
    color: #0065fc;
    border-width: 0.1rem;
}
figure{
    display: inline-block;
    height: 180px;
    width: 30%;

    
    vertical-align: middle;
    margin: 2px;
    padding: 4px;
    
}
.img-size-1 {
    width: 100%;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border-color: white;
    border-radius: 1.8rem 1.8rem 0 0;
    object-fit: cover;
    border-width: 0.5rem;
}
figure figcaption {
    font-family:  "Raleway", sans-serif;
    
}
.container-1{
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 1rem;
    display: flex;
    
}
.container-img-1{
    width: 65%;
    background-color: #f2f2f2;
    border-radius: 1.8rem;
    margin-right: 8px;
    padding: 15px;
}
.title-container-1{
    margin: 1rem;
}
.star-grey{
    color: #d3d3d3e7;
}
.star-blue{
    color: #0065fc;
}
.margin-top-p{
    margin: 35px;
}

.img-size-populaire{
    width: 100%;
    height: 130px;
    margin: 5px;
    padding: 9px;
    border-color: white;
    border-radius: 1.8rem 0 0 1.8rem;
    object-fit: cover;
    border-width: 0.5rem;
}
.icone-aside {
    display: flex;
    justify-content: space-evenly;
}

.soleil-matin p{
    margin: 10px;
}   
aside {
    width: 31%;
    background-color: #f2f2f2;
    border-radius: 1.8rem;
    margin-left: 50px;
    padding: 10px;
    
}
.right-text{
    display: flex;
}

.img-vieux-port{
    width: 25%;
    
   
}
.img-size-2{
    width: 100%;
    height: 366px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.container-2{
    display: flex;
    margin: 1rem;
    margin-top: 2.5rem;
}
.img-vieux-port strong{
    white-space: nowrap;
}
.img-parc-national strong{
    white-space: nowrap;
}
.img-fort-pomegues{
    width: 25%;
    margin: 10px;

}
.img-notre-dame{
    width: 25%;
    margin: 10px;
}
.img-size-3{
    height: 160px;
    width: 100%;  
    object-fit: cover;
    margin-top: 10px;
}
.img-size-4{
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 66px;
}
.container-2 img{
    border-radius: 15px 15px 0 0;
}
.img-parc-national{
    width: 25%;
}
.title-activites{
    margin: 1rem;
    margin-top: 50px;
}
.container-3{
    display: flex;
    margin:10px;
    background-color: #f2f2f2;
}
.footer-1{
    width: 33%
}
.footer-2{
    width: 33%;
}
.footer-3{
    width: 33%;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: blue;
}