#logo img
{
    width:100px;
     
}

h1,p
{
    font-family: "Raleway", sans-serif;
    
}
h1
{
    font-size: medium;
}

p
{
    font-size: 14px;
}
 ul 
{
    list-style-type: none ;
    display: flex;
    
}
 li
{
    margin-right: 15px;
    

}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Raleway", sans-serif;
    
}
