h1,h2,h3
{
    text-align: center;
    color: rgba(202, 103, 11, 0.767);
    margin-left: 18%;    
}
img{
    width: 200px;
	height: 200px;
    float: right;
    object-fit: cover;
}
body{
    background-color: rgb(250, 249, 248);
    font-family: "Raleway", sans-serif;
}
ul{
    text-align: center;
    list-style-position: inside;
    color: cadetblue;
    font-family: "Andale Mono", monospace ;
}
.span-cv{
    color: cadetblue;
    margin: auto;
    width: 30%;
    border-bottom: 3px solid #000000;
    padding: 10px;
}
h4{
    color:rgb(0, 0, 0);
    text-align: center;
}
div{
    padding: 10px;
}
p{
    text-align: center;
    color: rgb(4, 44, 90);
    font-family: "Andale Mono", monospace

}
.center{
    margin-right: 18%;
    margin: auto;
    width: 25%;
    border-bottom: 3px solid #000000;
    padding: 10px;
    
}
.center1{
    margin-right: 18%;
    margin: auto;
    width: 25%;
    border-bottom: 3px solid #000000;
    padding: 10px;
}
.contact{
    text-align: left;

}
@media screen and (max-width: 1280px){
    body{
        background-color:violet;
    }
}

.infos{
    text-align: left;
}
.competences{
    text-align: left;
}
.interets{
    text-align: left;
}

footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    font-weight: 700;
}
.container-aside{
    border-style: solid;
    width: 25%;
    color: rgb(57, 170, 12);
    background-color: burlywood;
}
.num-colors{
    color: rgb(53, 29, 37);
    font-weight: 700;
}
